<mat-nav-list>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/categories">
    <mat-icon>dashboard</mat-icon> Categories
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/products">
    <mat-icon>dashboard</mat-icon> Products
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/invoices">
    <mat-icon>dashboard</mat-icon> Invoices
  </a>

</mat-nav-list>
