<mat-toolbar color="primary" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>My Shop</span>
    <span class="example-spacer"></span>
    <button routerLink="" mat-button>Home</button>

    <button (click)="badgevisibility()"  mat-icon-button>
        <mat-icon matBadgeColor="accent" matBadge="15" [matBadgeHidden]="badgevisible" matBadgeSize="small">notifications</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
<!--        <mat-list-item>-->
<!--            <button routerLink="card" mat-button><mat-icon>dashboard</mat-icon> Dashboard</button>-->
<!--        </mat-list-item>-->
        <mat-list-item>
          <button routerLink="home" mat-button><mat-icon>home</mat-icon> Home</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="categories" mat-button><mat-icon>explore</mat-icon> Categories</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="products" mat-button><mat-icon>explore</mat-icon> Products</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="invoices" mat-button><mat-icon>table</mat-icon>Invoices</button>
        </mat-list-item>
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 600px;">
            <router-outlet></router-outlet>
            </div>
    </mat-drawer-content>
</mat-drawer-container>
